h1 {
    text-align: center;
}

img {
    display: inline;
    margin: auto;

}

input {
    display: block;
    justify-content: center;
    margin: 10px auto;
}

#results {
    height: 500px;
    overflow-y: auto;
    margin: auto;
}